body {
	background-color: #121212;
	color:aliceblue;
	font-family: 'Acme', sans-serif;
}

header {
	width: 98%;
	background-color: #121212;
	padding-bottom: 1rem;
	padding-top: 1rem;
	text-align: center;
	margin: auto;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;

}


header {
	border-style: solid;
	border-width: 3px;
	border-image: linear-gradient(to left, rgba(0, 0, 0, 1) 1%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%) 100% 0 100% 0/3px 0 3px 0 stretch;
	height: 3rem;
	line-height: 50px;
	background-color: #222;
	color:aliceblue;
	text-align: center;
}

header p {
	font-size: 1.5rem;
	color: aliceblue;
	font-weight: bold;
	margin: auto;

}

#mobile-image-container {
	max-width: 98%;
	position: relative;
	top: 0rem;
	min-height: 15rem;
	margin: auto;
}

#intro-image-container {
	max-width: 100%;
	display: block;
	height: auto;

}

#tablet-image-container,
#intro-image-container2 {
	display: none;
}



#comic-image {
	max-width: 100%;
	display: block;
	height: auto;
	position: relative;
	top: 1rem;
	margin: auto;
}

#comic-image2 {
	max-width: 100%;
	height: auto;
	position: relative;
	top: -1rem;
	margin: auto;
	display: none;
}

#comic-quotes {
	width: 95%;
	position: relative;
	text-align: center;
	margin: auto;
	color: lightblue;
	font-family: 'Amiri', serif;
	font-size: 1.3rem;
	padding-top: 0rem;
}

.border {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
	margin: auto;
	width: 90%;
	height: 8rem;
	top: 6rem;
	background: linear-gradient(90deg, #FFFAFA 50%, transparent 50%), linear-gradient(90deg, #FFFAFA 50%, transparent 50%), linear-gradient(0deg, #FFFAFA 50%, transparent 50%), linear-gradient(0deg, #FFFAFA 50%, transparent 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
	padding: 10px;
	animation: border-dance 4s infinite linear;
}

@keyframes border-dance {
	0% {
		background-position: 0 0, 100% 100%, 0 100%, 100% 0;
	}

	100% {
		background-position: 100% 0, 0 100%, 0 0, 100% 100%;
	}
}

.desk-border {
	display: none;
}

#intro-container {
	width: 100%;
	position: relative;
	top:1rem;
}

#intro-text {
	text-align: center;
	font-size: 1.5rem;
	width: 95%;
	margin: auto;
}


.character-head {
	margin-left: 1rem;
	cursor: pointer;
}

.desktop-lines {
	display: none;
}

.character-description {
	width: 90%;
	display: none;
	grid-template-columns: 40% 40%;
	margin: auto;

}

#character-container {
	width: 100%;
	position: relative;
	top: 10rem;
	display: block;
	visibility: none;

}

#all-information {
	visibility: hidden;

}

#character-img {
	width: auto;
	display: block;
	height: 20rem;
	margin: auto;
}

#character-name-image {
	text-align: center;
	margin: auto;
	width: 100%;
}

#search-block {
	width: 100%;
	position: relative;
	margin: auto;
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	height: 17rem;
	top: 12rem;
	border:none;
	background-color: rgba(32, 32, 32, 1);
}

#loader {
	border: 10px solid lightgray;
	top: -1rem;
	border-top: 10px solid royalblue;
	border-radius: 50%;
	position: relative;
	width: 60px;
	height: 60px;
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	margin: auto;
	display: block;
	visibility: hidden;
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

#input-search {
	border: none;
	border-radius: 10px;
	height: 2rem;
	width: 70%;
	text-indent: 1rem;
}

#search-button {
	border-radius: 10px;
	height: 2.2rem;
	width: 5rem;
	margin-left: -1.5rem;
	background-color: rgba(0, 155, 235, 1);
	color: aliceblue;
	transition: all 0.5s ease-in-out;
	cursor: pointer;

}

#search-button:hover {
	background-color: rgba(0, 90, 150, 1);
}

#the-results {
	list-style: none;
	margin: auto;
	text-align: center;
	margin-top: 1rem;
	background-color: ;
	column-count: 2;
	height: 100%;
}

#no-search-results {
	display: none;
}

#arrows-block {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	top: -6rem;
}

#previous-arrow,
#next-arrow {
	font-size: 1.5rem;
	cursor: pointer;
}

#next-arrow:hover {
	color: darkslateblue;

}

#previous-arrow:hover {
	color: darkslateblue;
}



#the-results li {
	margin-left: -3rem;
	color: aliceblue;
	line-height: 2rem;
	cursor: pointer;
}

#the-results li:hover {
	color: rgba(0, 255, 255, 1);
	text-decoration: underline;
}



.info-blocks {
	border-bottom:groove;

	background-color: rgba(32, 32, 32, 0.9);
	color: aliceblue;
	padding-top:0.5rem;
}

#power-block,
#connections-block,
#appearance-block,
#work-block,
#biography-block {
	text-align: left;
	line-height: 1.5rem;
}

footer {
	position: relative;
	color: aliceblue;
	width: 100%;
	height: 5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	top: 12rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}















@media (min-width:768px) and (max-width:1023.9px) {


	header {
		border-bottom-left-radius: 0px;
		border-top-right-radius: 0px;
		background-color: #121212;



	}

	header {
		border-style: solid;
		border-width: 3px;
		border-image: linear-gradient(to left, rgba(0, 0, 0, 1) 1%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%) 100% 0 100% 0/3px 0 3px 0 stretch;
		height: 3rem;
		line-height: 50px;
		background-color: #222;
		color: white;
		text-align: center;
	}

	header p {
		margin: auto;
	}





	#mobile-image-container {
		display: none;

	}

	#tablet-image-cover {
		height: 30rem;
		background-color: rgba(0, 0, 0, 0.6);
		display: block;
		width: 100%;
	}


	#tablet-image-container {
		display: block;
		position: relative;
		top: -1rem;
		background: url("tablet-images/img%20(5).jpg");
		max-height: 30rem;
		width: 98%;
		margin: auto;
	}

	.border {
		display: block;
		position: absolute;
		top: 14rem;
		width: 24rem;
		background: none;
		left: 5rem;
	}

	#comic-quotes {
		color: white;
		font-size: 1.5rem;

	}

	#intro-text {
		width: 70%;
		text-align: center;
	}

	#search-block {
		width: 70%;
		position: relative;
		top: 6rem;
		border: groove;
		background-color: rgba(32, 32, 32, 1);
		height: 17rem;
		border-color: silver;
	}

	#loader {
		top: -7rem;
	}

	#arrows-block {
		top: -6rem;
	}

	#character-container {
		width: 70%;
		margin: auto;
		top:7rem;
	}

	.info-blocks {
		background-color: inherit;
		border: none;
		margin-top: 0.5rem;

	}

	.desktop-lines {
		display: block;
	}


}





@media (min-width:1024px) {
	body {
		background-color: white;

	}

	header {
		border-bottom-left-radius: 0px;
		border-top-right-radius: 0px;
		background-color: #121212;



	}

	header {
		border-style: solid;
		border-width: 3px;
		border-image: linear-gradient(to left, rgba(0, 0, 0, 1) 1%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%) 100% 0 100% 0/3px 0 3px 0 stretch;
		height: 3rem;
		line-height: 50px;
		background-color: #222;
		color: aliceblue;
		text-align: center;
	}

	header p {
		margin: auto;
	}


	main {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
		height: auto;
		top: 3rem;
		background-color: #121212;
		padding-bottom: 2rem;
		padding-top: 2rem;


	}


	#mobile-image-container {
		display: none;

	}

	#image-cover {
		height: 40rem;
		background-color: rgba(0, 0, 0, 0.6);
		display: block;
		width: 100%;
	}

	#intro-image-container2 {
		display: block;
		position: relative;
		top: -1rem;
		background: url("desktop-images/img (18).jpg");
		max-height: 40rem;
		width: 98%;
		margin: auto;
	}

	#intro-text {
		width: 95%;
	}

	.border {
		display: block;
		position: absolute;
		top: -40rem;
		width: 27rem;
		background: none;
		left: 5rem;
	}

	#comic-quotes {
		color: aliceblue;
		font-size: 1.5rem;

	}

	.desk-border {
		display: block;
		width: 96.7%;
		height: 40rem;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 4.3rem;
		margin-left: 1%;
	}

	#search-block {
		top: 2rem;
		background: none;
		height: 12rem;


	}
	
	#arrows-block {
		top:0rem;
	}


	#input-search {
		width: 70%;
	}

	#the-results {
		background-color: inherit;
	}

	#loader {
		display: block;
		top: -9rem;
		visibility: hidden;
	}

	#character-container {
		display: flex;
		flex-direction: column;
		width: 60%;
		top: 0rem;
	}

	#character-img {
		max-width: 45%;
	}

	#character-name-image {
		display: block;
	}

	.info-blocks {
		background-color: inherit;
		border: none;
		margin-top: 0.5rem;

	}

	.desktop-lines {
		display: block;
	}

	.character-head span {
		display: none;
	}

	.character-head {
		font-size: 1.5rem;
	}

	.character-description {
		display: block;
	}


	#character-searching {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 30%;
		height: 35rem;
		justify-content: space-between;
		top: 0rem;
		padding: 1rem;
		border-radius: 5px;
		border: 1px solid aliceblue;
	}

	footer {
		top: 11rem;
		background-color: #121212;
		border-bottom: none;
		border-top: none;
	}

}
